[Unit]
Description="Bluetooth bus watcher"
After=multi-user.target

[Service]
ExecStart=sh /home/pi/Documents/PA/AVRCP/dbus-watcher/test.sh
WorkingDirectory=/home/pi/Documents/PA/AVRCP/dbus-watcher
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
